[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Crouton"]
	path = Crouton
	url = git://github.com/keyboardsurfer/Crouton.git